.navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  transition: .2s;
}

.navbar-scroll.active {
  background-color: hsla(0,0%,100%,.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.logo{
  height: 28px;
  width: auto;
  cursor:pointer;
}

.navbar-logo-scroll.active {
  height: 20px;
  transition: height .4s;
}

.navbar-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 76.5em;
  height: 4em;
  margin-left: 14em;
  margin-top: 2em;
  border-bottom: 1px solid #0E0E0E;
}

.navbar-container-scroll.active {
  border-bottom: none;
}

.navbar-btn {
  cursor: pointer;
  margin-left: auto;
}
  
.navbar-btn span {
  background: #272727;
  display: block;
  height: .15em;
  width: 1.5em;
  transition: transform 250ms;
}
  
.navbar-btn span:nth-of-type(1) {
  margin-bottom: .25em;
}

@media (min-width: 56.25rem){
  .logo {
    height: 28px
   }
}

@media (max-width: 75em) {
  .navbar-btn {
    margin-right: 20em;
  }
}
