.footer {
  background: #0E0E0E;
  padding: 4em 0;
  transition: margin .5s;
  }

.footer-container {
  max-width: 77.5em;
  margin: 0 auto;
}

.top-container {
  display: flex;
  border-bottom: 1px solid #3E3E3E;
  padding-bottom: 1.5em;
  margin-bottom: 3em;
}

.logo-footer {
  width: 6em;
  height: 1.6em;
  margin-right: 8em;
}

.link {
  font-family: "TekoRegular";
  color: white;
  text-transform: uppercase;
  margin-right: 1em;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}
  
.link:hover {
  color: #A3A3A3;
}

.icons {
  margin-left: auto;
}
  
.icons a {
  display: block;
}
  
.icons a:focus {
  outline: none;
}
  
.icons img {
  display: block;
  height: 1.2em;
  margin: 0 auto 2em;
}

.bottom-container {
  display: block;
}

.bottom-container p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #808080;
  margin-right: 1em;
}

.footer-copyright {
  margin-top: 2em;
  margin-right: 0em;
}

.footer-btn {
  display: none;
  visibility: hidden;
}

@media (min-width: 60em) {
  .footer {
    padding: 4em 0;
  }
  
  .logo-footer {
    display: block;
  }
  
  .link {
    display: inline;
    font-size: 1.25em;
  }

  .icons a {
    display: inline;
  }
    
  .icons img {
    display: inline;
    height: 1.2em;
    margin-left: 2em;
  }

  .bottom-container{
    display: flex;
    margin-left: 14em;
  }

  .footer-copyright {
    text-align: right;
    margin: 0 0 0 auto;
}

  .footer-btn {
    display: flex;
    visibility: visible;
    justify-content: center;
    width: 10%;
    background-color: #ffffff;
    margin-left: 81.5em;
  }

  .footer-top-btn {
    display: flex;
    visibility: visible;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 38%;
    font-family: 'TekoRegular',
    sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    color: #1a18f7;
    background-color: transparent;
    border: none;
    border-radius: none;
    cursor: pointer;
  }

  .footer-top-btn img {
    filter: invert(14%) sepia(95%) saturate(4414%) hue-rotate(244deg) brightness(86%) contrast(130%);
    height: 2rem;
  }
}